@import "~@fontsource/fira-code/index.css";

body {
  h1 {
    color: #ff8552;
    font-size: 5em !important;
    font-stretch: ultra-expanded;
    font-family: "Fira Code";
    letter-spacing: 1em;
    text-shadow: 1px -5px 5px #297373;
  }
}

.blog-card {
  font-family: "Fira Code";
  h3 {
    font-family: "Fira Code";
  }
  .blog-title {
    color: #e9d758;
    background-color: black;
  }
}

.bio {
  font-family: "Fira Code";
}

main {
  font-family: "Fira Code";
}

a {
  color: #297373;
  &:hover {
    color: #ff8552 !important;
  }
}

.tv {
  width: 1152px;
  height: 648px;
  position: fixed;
  top: calc(50vh - 300px);
  left: calc(50vw - 400px);
  border: 20px solid black;
  box-shadow: 100px 150px 200px;
  border-radius: 50px;
  color: rgb(32, 34, 58);
  .image-in-tv {
    border: 20px solid #ff8552;
    height: 100%;
    width: 100%;
    border-radius: 25px;
  }
}
