@import '~@fontsource/fira-code/index.css';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Tinos:ital@1&display=swap');
$main-font: 'Fira Code';
// $main-font: "Times New Roman";
// $main-font: "Cinzel", serif;
// $main-font: "Tinos", serif;

html,
body,
canvas {
  width: 100vw;
  height: 100vh;
}

canvas {
  // background-color: white;
}

body {
  background-color: lighten(#ff3fff, 30%);
  .main-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    color: white;
    text-align: center;
    font-size: 3.3vw !important;
    font-stretch: ultra-expanded;
    font-family: $main-font;
    letter-spacing: 2.4vw;
    text-shadow: 3px 3px 1px#2fffff;
    padding: 0.1em;
    margin-bottom: 0 !important;
    // border: 2px solid grey;
    background: black;
    font-weight: 100;
    @media only screen and (max-width: 600px) {
      font-size: 10vw !important;
    }
  }
  .secondary-title {
    background: black;
    color: #2fffff;
    font-size: 3em;
    text-align: center;
    &:hover {
      a {
        color: white !important;
      }
    }
  }
  h3 {
    font-family: $main-font;
  }
  h2 {
    font-family: $main-font;
  }
  h1 {
    font-family: $main-font;
  }
}

.blog-card {
  font-family: $main-font;
  h3 {
    font-family: $main-font;
  }
  .blog-title {
    color: #2fffff;
    background-color: black;
    &:hover {
      color: white !important;
    }
  }
}

.bio {
  font-family: $main-font;
}

main {
  font-family: $main-font;
}

a {
  color: white;
  background: black;
  &:hover {
    color: #2fffff !important;
  }
}
h3 a {
  background: none;
}

.tv {
  transform: rotate3d(3, 4, 1, 35deg);
  width: calc(100vw - 42px);
  max-width: 960px;
  height: 50vh;
  max-height: 540px;
  box-shadow: 100px 50px 200px #ff3fff;
  color: rgb(32, 34, 58);
  background-color: black;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  @media only screen and (max-width: 600px) {
    margin-top: 4em;
    top: 25%;
  }
  #image-in-tv {
    border: 0.5vw solid black !important;
    height: 100%;
    width: 100%;
    box-shadow: -50px 0px 100px;
    border-style: ridge;
    border-radius: 100%;
  }
}

.main-button-container {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  border: 1px solid darkgray;
  // background: #2fffff;
  background: lightgrey;
  display: flex;
  // max-width: calc(100vw - 42px);
  flex-wrap: wrap;
  margin-bottom: 4em;
  button {
    border: 4px solid lightgrey;
    border-style: ridge;
    padding: 0.1em 0.3em;
    font-size: 1.1em;
  }
}

.lower-bar {
  width: 100vw;
  height: 4em;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.liminal-iframe {
  position: relative;
  background-color: white;
  border: 10px solid lightpink;
  border-radius: 50%;
  box-shadow: 100px 80px 100px -100px darkslateblue,
    120px 55px 100px -100px darkblue, 140px 30px 100px -100px darkmagenta,
    inset 100px 100px 240px whitesmoke, inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff, inset 200px 0 30px #f0f, inset -20px 0 30px #0ff,
    0 0 5px #fff, -10px 0 80px #f0f, 10px 0 8px #0ff, 1000px 1000px 8px #0ff;
  display: inline-block;
  padding: 0;
  margin: 25vh;
  top: 0;
  object-fit: cover;
  text-align: center;
  font-size: 2em;
  &:hover {
    z-index: 555555 !important;
  }
}

#exit {
  border: 2px solid magenta;
  padding: 0.25em 0.5em;
  font-family: $main-font;
  background: black;
  &:hover {
    background: white;
    cursor: pointer;
  }
}

.projects {
  font-family: $main-font;
  text-align: center;
  .project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
  background: white;
  h1 {
    background: black;
    color: white;
    margin: 0;
  }
  .card {
    h3 {
      margin-top: 0;
    }
    border-bottom: 2px solid black;
    .card-inner {
      margin: 2em;
      @media only screen and (max-width: 600px) {
        margin: 0.25em;
      }
    }
  }
  .project-sections {
    margin-top: 3em;
  }
}

.contact {
  border: 2px solid magenta;
  padding: 0.25em 0.5em;
  font-family: $main-font;
  background: black;
  width: 25vw;
  margin: 25vh auto;
  min-width: 400px;
  @media only screen and (max-width: 600px) {
    width: 100vw;
    margin: 0;
  }
  p {
    margin: 0;
  }
  p:last-of-type {
    margin-bottom: 1em;
  }

  .contact-home {
    &:hover {
      border: 2px solid magenta;
      background: white;
      cursor: pointer;
    }
  }
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.back-arrow {
  position: absolute;
  text-align: left;
  font-size: 2em;
}

.projects-title {
  width: 100vw;
  height: 3em;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  z-index: 10;
  a {
    border: none;
    background: transparent;
  }
}

.random-blue {
  color: magenta;
}

.random-orange {
  color: #2fffff;
}

.random-twitter {
  color: white;
}

.full-width-form {
  width: 100% !important;
}

.float-right {
  position: relative;
  width: 10em;
  left: calc(100% - 10em);
}

.color-blocks {
  overflow: hidden;
  white-space: nowrap;
}
